:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --light-primary: rgb(46 21 74);
 --light-surface-tint: rgb(109 83 139);
 --light-on-primary: rgb(255 255 255);
 --light-primary-container: rgb(239 219 255);
 --light-on-primary-container: rgb(39 13 67);
 --light-secondary: rgb(101 90 111);
 --light-on-secondary: rgb(255 255 255);
 --light-secondary-container: rgb(236 221 246);
 --light-on-secondary-container: rgb(32 24 42);
 --light-tertiary: rgb(101 85 143);
 --light-on-tertiary: rgb(255 255 255);
 --light-tertiary-container: rgb(233 221 255);
 --light-on-tertiary-container: rgb(32 16 71);
 --light-error: rgb(186 26 26);
 --light-on-error: rgb(255 255 255);
 --light-error-container: rgb(255 218 214);
 --light-on-error-container: rgb(65 0 2);
 --light-background: rgb(255 247 255);
 --light-on-background: rgb(29 26 32);
 --light-surface: rgb(255 247 255);
 --light-on-surface: rgb(29 26 32);
 --light-surface-variant: rgb(233 224 235);
 --light-on-surface-variant: rgb(74 69 78);
 --light-outline: rgb(123 117 127);
 --light-outline-variant: rgb(204 196 207);
 --light-shadow: rgb(0 0 0);
 --light-scrim: rgb(0 0 0);
 --light-inverse-surface: rgb(51 47 53);
 --light-inverse-on-surface: rgb(246 238 246);
 --light-inverse-primary: rgb(217 186 250);
 --light-primary-fixed: rgb(239 219 255);
 --light-on-primary-fixed: rgb(39 13 67);
 --light-primary-fixed-dim: rgb(217 186 250);
 --light-on-primary-fixed-variant: rgb(85 59 113);
 --light-secondary-fixed: rgb(236 221 246);
 --light-on-secondary-fixed: rgb(32 24 42);
 --light-secondary-fixed-dim: rgb(208 193 218);
 --light-on-secondary-fixed-variant: rgb(77 67 87);
 --light-tertiary-fixed: rgb(233 221 255);
 --light-on-tertiary-fixed: rgb(32 16 71);
 --light-tertiary-fixed-dim: rgb(207 189 254);
 --light-on-tertiary-fixed-variant: rgb(77 61 117);
 --light-surface-dim: rgb(223 216 224);
 --light-surface-bright: rgb(255 247 255);
 --light-surface-container-lowest: rgb(255 255 255);
 --light-surface-container-low: rgb(249 241 249);
 --light-surface-container: rgb(243 235 243);
 --light-surface-container-high: rgb(238 230 238);
 --light-surface-container-highest: rgb(232 224 232);

 --dark-primary: rgb(217 186 250);
 --dark-surface-tint: rgb(217 186 250);
 --dark-on-primary: rgb(61 36 89);
 --dark-primary-container: rgb(85 59 113);
 --dark-on-primary-container: rgb(239 219 255);
 --dark-secondary: rgb(208 193 218);
 --dark-on-secondary: rgb(54 45 63);
 --dark-secondary-container: rgb(77 67 87);
 --dark-on-secondary-container: rgb(236 221 246);
 --dark-tertiary: rgb(207 189 254);
 --dark-on-tertiary: rgb(54 39 93);
 --dark-tertiary-container: rgb(77 61 117);
 --dark-on-tertiary-container: rgb(233 221 255);
 --dark-error: rgb(255 180 171);
 --dark-on-error: rgb(105 0 5);
 --dark-error-container: rgb(147 0 10);
 --dark-on-error-container: rgb(255 218 214);
 --dark-background: rgb(21 18 24);
 --dark-on-background: rgb(232 224 232);
 --dark-surface: rgb(21 18 24);
 --dark-on-surface: rgb(232 224 232);
 --dark-surface-variant: rgb(74 69 78);
 --dark-on-surface-variant: rgb(204 196 207);
 --dark-outline: rgb(149 142 152);
 --dark-outline-variant: rgb(74 69 78);
 --dark-shadow: rgb(0 0 0);
 --dark-scrim: rgb(0 0 0);
 --dark-inverse-surface: rgb(232 224 232);
 --dark-inverse-on-surface: rgb(51 47 53);
 --dark-inverse-primary: rgb(109 83 139);
 --dark-primary-fixed: rgb(239 219 255);
 --dark-on-primary-fixed: rgb(39 13 67);
 --dark-primary-fixed-dim: rgb(217 186 250);
 --dark-on-primary-fixed-variant: rgb(85 59 113);
 --dark-secondary-fixed: rgb(236 221 246);
 --dark-on-secondary-fixed: rgb(32 24 42);
 --dark-secondary-fixed-dim: rgb(208 193 218);
 --dark-on-secondary-fixed-variant: rgb(77 67 87);
 --dark-tertiary-fixed: rgb(233 221 255);
 --dark-on-tertiary-fixed: rgb(32 16 71);
 --dark-tertiary-fixed-dim: rgb(207 189 254);
 --dark-on-tertiary-fixed-variant: rgb(77 61 117);
 --dark-surface-dim: rgb(21 18 24);
 --dark-surface-bright: rgb(60 56 62);
 --dark-surface-container-lowest: rgb(16 13 18);
 --dark-surface-container-low: rgb(29 26 32);
 --dark-surface-container: rgb(34 30 36);
 --dark-surface-container-high: rgb(44 41 46);
 --dark-surface-container-highest: rgb(55 51 57);
}
